<h1>Citations</h1>
<%= @citations.size %> cited journals
<table class="table table-striped table-hover">
  <tr>
    <th>Journal</th>
    <th>Cited</th>
  </tr>

<% @journals.each do |journal, count| %>
  <tr>
    <td><%= journal %></td>
    <td><%= count %></td> 
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Citation', new_citation_path %>
