<h1>Citations</h1>
<p>
<%= @citations.size %> cited journals in 500 source articles.  The % given next to the number cited is
the percent of times out of 500 source articles this journal was used.  So number of times cited/500.
</p>
<table class="table table-striped table-hover">
  <tr>
    <th>Journal</th>
    <th>Cited</th>
  </tr>

<% @journals.each do |journal, count| %>
  <tr>
    <td><%= journal %></td>
    <td><%= count %> (<%= number_to_percentage(count.to_f/500.0) %>)</td> 
  </tr>
<% end %>
</table>


